<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Aqpm - ArchLinux Package Management</vendor>
  <vendor_url>http://chakra-project.org/</vendor_url>

  <action id="org.chakraproject.aqpm.updatedatabase">
    <description>Update Database</description>
    <message>Prevents Package Manager from updating the Database</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>
